body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: fit-content;
    padding-top: 80px;
    text-align: center;
    position: relative;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: fit-content;
}

.game-box{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

#game-info{
    font-size: 2rem;
}

.dont-display{
    display: none;
}

.fXline{
    position: absolute;
    top: 127px;
    right: -11px;
}

.sXline{
    position: absolute;
    top: 239px;
    right: -11px;
}

.tXline{
    position: absolute;
    top: 350px;
    right: -11px;
}

.fYline{
    position: absolute;
    top: 237px;
    left: -120px;
    transform: rotate(90deg);
}

.sYline{
    position: absolute;
    top: 237px;
    left: -10px;
    transform: rotate(90deg);
}

.tYline{
    position: absolute;
    top: 237px;
    left: 100px;
    transform: rotate(90deg);
}

.fDline{
    position: absolute;
    top: 237px;
    left: -10px;
    transform: rotate(45deg);
}

.sDline{
    position: absolute;
    top: 237px;
    left: -10px;
    transform: rotate(135deg);
}

#line{
    background: linear-gradient(90deg, black, white, black, white, black, white);
    height: 10px;
    width: 350px;
    border-radius: 10px;
}